<div id="section1" style="height: 50vh;" class="p-6 shadow-2xl rounded-lg m-6 container">
    <h2>¿Qué es una Tutela?</h2>
    <hr>
    <p>Una tutela es una herramienta legal en Colombia que permite a cualquier persona proteger sus derechos fundamentales cuando están siendo amenazados o violados. Es rápida y efectiva, y cualquier juez puede resolverla.</p>
</div>
<div id="section2" style="height: 50vh;" class="p-6 shadow-2xl rounded-lg m-6 container">
    <h2>¿Para qué sirve una Tutela?</h2>
    <p>Sirve para proteger derechos fundamentales como la vida, la salud, la educación, entre otros, especialmente cuando estos derechos son ignorados o vulnerados por autoridades o particulares.</p>
</div>
<div id="section3" style="height: 50vh;" class="p-6 shadow-2xl rounded-lg m-6 container">
    <h2>¿En qué casos se aplica una Tutela?</h2>
    <p>Se aplica en situaciones urgentes donde otros medios legales no serían suficientemente rápidos, como en casos de amenazas a la salud, la integridad personal, y la seguridad social, entre otros.</p>
</div>
<div id="section4" style="height: 50vh;" class="p-6 shadow-2xl rounded-lg m-6 container">
    <h2>¿Cómo aplicar una Tutela?</h2>
    <p>Para aplicar una tutela, debes escribir un documento donde expliques tu situación y cómo tus derechos están siendo afectados. Este documento se presenta en cualquier juzgado o se envía por correo.</p>
</div>
<app-basic-button
    label="Crear la tutela"
    icon="plus"
    (click)="routerCrearTutela()"
>
</app-basic-button>
